body {
  margin:0;
  color:white
}
header {
  background-color: #0071dc;
}
.nav {
  display: flex;
}
.nav-left {
  display: flex;
}
.nav-item {
  padding: 35px;
}
.nav-belt {
  display: flex;
  border-top: 1px solid white;
  align-items: center;
}
.nav-belt a {
  color:white;
  text-decoration: none;
}
.category-list {
  list-style: none;
  display: flex;
  color:white;
}
.category-list-item {
  padding-inline:20px;
}
input {
  height: 40px;
  padding-left:1rem;
  padding-right:2.5rem;
  border-radius: 40px;
  flex:1 1 auto
}
.nav-input {
  display: flex;
}